body {
  margin: 0px;
  padding: 0px;
}

.header {
  text-align: center;
}

.main-section {
  text-align: center;
}

.card-img-top {
  max-width: 550px;
}

.result {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}